Beaker==1.6.4
Flask==0.10.1
Jinja2==2.7.3
Markdown>=2.5.1
MarkupSafe==0.23
Werkzeug==0.9.6
docutils==0.12
doxypypy==0.8.7
gunicorn==19.1.1
isodate==0.5.0
itsdangerous==0.24
python-dateutil==2.2
requests==2.3.0
six==1.7.3
