<div id="demographics">
	{{#full_name}}
	<h1>Trials for {{ . }}</h1>
	{{/}}
	{{^full_name}}
	<h1>Trial Eligibility</h1>
	{{/}}
	
	<div class="patient_portrait"></div>
	
	<div class="demo_row">
	 	{{ age_years }} yo {{ gender }}
		{{#birthday}}<span class="demo_birthday">
			({{^deathdate}}born {{/}}{{ birthday }}{{#deathdate}} – {{ . }}{{/}})
		</span>{{/}}
	</div>
	
	<div class="demo_row">
		{{#location}}{{ . }}{{#country}}, {{/}}{{/}}{{#country}}{{ . }}{{/}}
	</div>
</div>

{{#hasConditions}}
<div id="patient_problems">
	<h2 onclick="$('#problem_list').toggle()">Conditions</h2>
	<ul id="problem_list">
		{{#conditions}}
		<li>
			<span class="problem_name">{{ summary }}</span>
			<span class="supplement">{{^date_resolution}}since {{ date_onset }}{{/}}{{#date_resolution}} - {{ . }}{{/}}</span>
		</li>
		{{/}}
	</ul>
</div>
{{/}}
