<!DOCTYPE html>
<html>
<head>
	<title>Trial Eligibility</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="icon" type="image/png" href="static/favicon.png">
	
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
	<div id="container">
		<header>
			<a href="help">Help</a>
		</header>
		
		<div id="content">
			{%- if defs.use_smart %}
			<div class="back_to_select">
				{% if 'none' != api_base %}
				<a id="back_to_patient" href="index.html?api_base={{ api_base }}&amp;record_id=0">« Change patient</a>
				{% endif %}
				<a href="index.html?api_base=">« Start over</a>
			</div>
			{%- endif %}
			
			{#- Trial list item template #}
			<script type="text/mustache" id="app_tmpl">{% raw %}
			{{#finder.patient}}
			<div id="demographics">
				{{#full_name}}
				<h1>Trials for {{ full_name }}</h1>
				{{/}}
				{{^full_name}}
				<h1>Trial Eligibility</h1>
				{{/}}
				
				<div class="patient_portrait"></div>
				
				<div class="demo_row">
					<input type="radio" id="select_female" name="demo_gender" value="female" can-value="gender" can-click="save"><!--
				 --><label for="select_female" id="select_female_label" class="demo_gender">Female</label><!--
				 --><input type="radio" id="select_male" name="demo_gender" value="male" can-value="gender" can-click="save"><!--
				 --><label for="select_male" id="select_male_label" class="demo_gender">Male</label>
				 	
					<input type="number" id="demo_age" name="demo_age" placeholder="Age" can-value="age_years" min="0" max="120"> y
					{{#birthday}}<span class="demo_birthday">
						({{^deathdate}}born {{/}}{{ birthday }}{{#deathdate}} – {{deathdate}}{{/}})
					</span>{{/}}
				</div>
				
				<div class="demo_row">
					<input type="text" id="demo_location" placeholder="City, State" can-value="location" can-enter="save">
					<!--button onclick="locatePatient()">Locate</button-->
					<input type="text" id="demo_country" placeholder="Country" can-value="country" can-enter="save" onfocus="$('#demo_country_hint').show()" onblur="$('#demo_country_hint').fadeOut()">
					<label id="demo_country_hint" for="demo_country" class="xsmall faded" style="display:none; margin-left:1em;">Trial search will be limited to this country</label>
				</div>
			</div>
			
			<div id="patient_problems">
				<ul id="problem_list">
					<li id="prob_manual"{{^problems}} class="active"{{/}}>
						<input type="text" size="50" class="problem_name" id="manual_problem" placeholder="Enter search terms" can-value="last_manual_search" can-enter="finder.find">
						<button id="manual_cancel" type="button" onclick="window.event.stopPropagation(); cancelTrialSearchAndShowProblemList('prob_manual');">Cancel</button>
						<button id="manual_submit" type="button" can-click="finder.find">Search</button>
					</li>
					{{#problems}}
					<li can-click="" {{data 'problem'}}>
						<div class="problem_name">{{ name }}</div>
						<div class="supplement">{{ period }}</div>
					</li>
					{{/}}
				</ul>
			</div>
			{{/}}
			
			{{#finder.status}}
			<div class="trial_status">{{ . }}</div>
			{{/}}
			{{#finder.error}}
			<div class="trial_status red">{{ . }}</div>
			{{/}}
			
			{{#finder.result}}
			<div id="trial_selectors">
				<ul id="selector_goodbad" class="trial_selector"></ul>
				<div class="trial_opt_selector">
					<h2>Intervention / Observation</h2>
					<ul id="selector_inv_type">
					{{#interventions}}
						<li>
							<input type="checkbox" id="{{ huid }}" can-value="active" can-change="updateTrialShownState">
							<label for="{{ huid }}">{{ name }}</label>
							<span class="num_matches">{{ num_matches }}</span>
						</li>
					{{/}}
					{{^interventions}}
						<li><h3>No results</h3></li>
					{{/}}
					</ul>
				</div>
				{{#showPhases}}
				<div class="trial_opt_selector">
					<h2>Trial phase</h2>
					<ul id="selector_inv_phase">
					{{#phases}}
						<li>
							<input type="checkbox" id="{{ huid }}" can-value="active" can-change="updateTrialShownState">
							<label for="{{ huid }}">{{ name }}</label>
							<span class="num_matches">{{ num_matches }}</span>
						</li>
					{{/}}
					</ul>
				</div>
				{{/}}
			</div>
			<div style="clear:left;"> </div>
			
			<!--div id="selector_keywords_parent">
				<h2>Selected Keywords</h2>
				<div id="selector_keywords"></div>
			</div-->
			
			<ul id="selected_trial" class="trial_list active"></ul>
			<div id="g_map"></div>
			<div id="g_map_toggle">
				<a href="javascript:void(0)" onclick="toggleTrialMap()">Show Map</a>
				<span class="red"></span>
			</div>
			
			<div id="trials">
				<ul id="trial_list" class="trial_list">
				{{#results}}{{#shown}}
					<li class="trial" {{ data 'trial' }}>
						<div class="trial_info">
							<h3>{{ trial.title }}</h3>
							<div class="supplement">{{ trial.phasesFormatted }}</div>
							<a class="ctgov_link" href="http://www.clinicaltrials.gov/ct2/show/{{ trial._id }}" target="_blank">{{ trial._id }}</a>
							
							<!-- keywords here -->
							<!-- link to show eligibility criteria -->
							
							{{#reason}}
							<tt class="exclusion_reason">{{ . }}</tt>
							{{/}}
						</div>
					</li>
				{{/}}{{/}}
				</ul>
			</div>
			{{/}}
			{% endraw %}</script>
			
			<div id="app"><h1>Loading...</h1></div>
		</div>
		<div id="footer">Made at <a href="http://www.chip.org" target="_blank">CHIP</a></div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="static/can.jquery{% if defs.debug %}.dev{% endif %}.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?key={{ defs.google_api_key }}&sensor=false"></script>
	<script src="static/markerclusterer.js"></script>
	<script src="static/main.js"></script>
	<script>
	$(document).ready(function() {
		initApp();
	});
	</script>
</body>
</html>
